@charset "utf-8";
.about-slider {
    padding-top: 0;
    padding: 7%;
    padding-bottom: 0%
}

.mySlides {
    animation-duration: 1s;
    animation-delay: 1s
}
.fa-angle-right, .fa-angle-left{
	font-size: 40px;
	width: 12% !important;
	color: #007bff !important;	
}
.carousel-control-next, .carousel-control-prev{
	opacity: 1.5;
}
.slider div {
    height: 100%!important
}

.slider {
    height: 100%
}

.mySlides {
    padding-top: 35%!important
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.modal-dialog {
    max-width: 65%;
    margin: 1.75rem auto;
}
.carousel-inner {
    height: 75vh;
}
.carousel-item {
    padding-top: 0%;
}
.modal-content{
	background-color: transparent;
	border: 0px;
}
.modal-header{
	border-bottom: 0px;
}
.close {
    text-shadow: none;
    position: absolute;
    right: 3.5%;
    top: 12%;
    z-index: 99;
    color: #fff;
    font-size: 30px;
    opacity: 1;
}
.close:hover{
	color: #fff;
}
button.close{
	background-color: #093FF4;
}
/*
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000
}

.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 35%
}
*/

/*
	.close {
		color: #fff;
		position: absolute;
		top: 13%;
		right: 25px;
		font-size: 35px;
		font-weight: 700
	}

	.close:focus,
	.close:hover {
		color: #999;
		text-decoration: none;
		cursor: pointer
	}

	.mySlides {
		display: none
	}

	.cursor {
		cursor: pointer
	}

	.next,
	.prev {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		background-color: #ffffff38;
		font-weight: 700;
		font-size: 12px;
		transition: .6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
		color: #000!important
	}

	.next {
		border-radius: 3px 0 0 3px;
		right: -16%
	}

	a .prev {
		color: #000!important
	}

	.next:hover,
	.prev:hover {
		background-color: #fff
	}

	.modal {
		display: none;
		position: fixed;
		z-index: 999;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #000
	}

	.modal-content {
		position: relative;
		background-color: transparent;
		margin: auto;
		padding: 0;
		width: 35%
	}

	.close {
		color: #fff;
		position: absolute;
		top: 13%;
		right: 25px;
		font-size: 35px;
		font-weight: 700
	}

	.close:focus,
	.close:hover {
		color: #999;
		text-decoration: none;
		cursor: pointer
	}

	.mySlides {
		display: none
	}

	.cursor {
		cursor: pointer
	}

	.next,
	.prev {
		cursor: pointer;
		position: absolute;
		top: 55%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		background-color: #ffffff38;
		font-weight: 700;
		font-size: 12px;
		transition: .6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
		color: #000!important
	}

	.next {
		border-radius: 3px 0 0 3px;
		right: -16%
	}

	a .prev {
		color: #000!important
	}

	.next:hover,
	.prev:hover {
		background-color: #fff
	}
*/

/*
.slider div {
    color: #093ff4;
    height: 50px;
    margin-bottom: 0;
    padding: 2px 15px;
    padding: 2px 1px;
    text-align: left;
    box-sizing: border-box;
    padding-top: 1%
}

.first-silde {
    margin-top: 26%
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000
}

.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 35%
}

.close {
    color: #fff;
    position: absolute;
    top: 13%;
    right: 25px;
    font-size: 35px;
    font-weight: 700
}

.close:focus,
.close:hover {
    color: #999;
    text-decoration: none;
    cursor: pointer
}

.mySlides {
    display: none
}

.cursor {
    cursor: pointer
}

.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    background-color: #ffffff38;
    font-weight: 700;
    font-size: 12px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    color: #000!important
}

.next {
    border-radius: 3px 0 0 3px;
    right: -16%
}

a .prev {
    color: #000!important
}

.prev {
    left: -16%!important
}

.next:hover,
.prev:hover {
    background-color: #fff
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.carousel-item img {
    padding-bottom: 5%;
    padding-right: 5%
}

.caption-container {
    text-align: center;
    background-color: #000;
    padding: 2px 16px;
    color: #fff
}

.demo {
    opacity: .6
}

.active,
.demo:hover {
    opacity: 1
}

img.hover-shadow {
    transition: .3s
}

.btn.btn-dark {
    border: 1px solid #9b9b9b;
    background-color: #fff;
    color: #000;
    font-family: 'Maven Pro';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    width: 18%
}

.btn.btn-dark1 {
    border: 1px solid #9b9b9b;
    background-color: #fff;
    color: #000;
    font-family: 'Maven Pro';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    width: 18%
}

.slider-buttons {
    margin-left: 35%;
    margin-top: 0;
    margin-bottom: 5%
}

.slider-left-icon,
.slider-right-icon {
    margin-top: -2%
}

.slider-left-icon {
    padding-left: 2%;
    width: 18%;
    padding-right: 8%;
    padding-bottom: 3%
}

.slider-right-icon {
    padding-left: 2%;
    width: 18%;
    padding-right: 8%;
    padding-bottom: 3%
}
*/
@media screen and (max-width:2560px){
.about-slider {
    padding-top: 0;
    padding: 7%;
    padding-bottom: 2%;
}
}
@media screen and (max-width:1440px){
	.close {
   
    right: 4.3%;
    top: 15%;
    
}
}
@media screen and (max-width:1280px) and (max-height: 1024px){
	.close {
    right: 3.005%;
    top: 12%;
}
.carousel-control-next, .carousel-control-prev {
opacity: 1.5;
top: -28%;
}
}
@media screen and (max-width:1280px) and (max-height: 778px){
	.close {
    right: 3.5%;
    top: 15%;
}
}
@media screen and (max-width:1280px) and (max-height: 610px){
	.close {
    right: 3.5%;
    top: 12%;
}
.carousel-control-next, .carousel-control-prev {
opacity: 1.5;
top: 0%;
}
}
@media screen and (max-width:1240px){
	.close {
    right: 3.5%;
    top: 14.5%;
}
}
@media screen and (max-width:1024px) {
    .about-slider {
        padding-top: 0;
        padding: 7%;
        padding-bottom: 12%
    }
.close {
    right: 3.5%;
    top: 12%;
}
.carousel-control-next, .carousel-control-prev {
opacity: 1.5;
top: -20%;
} 
}
@media screen and (max-width:800px){
	.btn-primary {
    top: 88%;
    right: 8%;
    padding: 6px 12px;
}
.carousel-item {
    padding-top: 65%;
}
.close {
    right: 3.6%;
    top: 42%;
}
.carousel-control-next, .carousel-control-prev {
opacity: 1.5;
top: 0%;
}
}
@media screen and (max-width:768px){
	.gallery {
    margin-bottom: 10%;
}
.about-slider {
    padding-top: 0;
    padding: 7%;
    padding-bottom: 0%;
}
.carousel-item {
    padding-top: 50%;
}
.carousel-control-next, .carousel-control-prev {
opacity: 1.5;
top: 0%;
}
}
@media screen and (max-width:480px) {
.about-slider {
    padding-top: 0;
    padding: 7%;
    padding-bottom: 0%;
}
.btn-primary {
    top: 83%;
    right: 10%;
    padding: 15px 18px;
}
.modal-dialog {
    max-width: 100%;
    margin: 1.75rem auto;
}
.gallery {
    margin-bottom: 2%;
}
.carousel-item {
    padding-top: 0%;
}
.modal-body {
    margin-top: 35%;
}
.close {
    right: 18.6%;
    top: 22.5%;
}
.carousel-control-next, .carousel-control-prev {
    opacity: 1.5;
    top: -52%;
}
}
@media screen and (max-width:414px) and (max-height:896px){
.gallery-caption p {
    font-size: 22px;
    margin-bottom: 8%;
    margin-left: 30px;
    margin-top: 2%;
}
.gallery-border {
    width:54%;
    top: 91%;
    left: 12%;
}
.modal-body {
    margin-top: 43%;
}
.btn-primary {
    top: 82%;
    right: 10%;
    padding: 14px 16px;
}
.modal-header .close {
    padding: 6px 10px;
    margin: 1.6rem -4.6rem 0rem auto;
}
.close {
    right: 21.6%;
    top: 22.5%;
}
.carousel-control-next, .carousel-control-prev {
    top: -60%;
}
}
@media screen and (max-width:414px) and (max-height:736px){
.gallery-caption p {
    font-size: 18px;
    margin-bottom: 8%;
    margin-left: 30px;
    margin-top: 2%;
}
.gallery-border {
    width: 44%;
    top: 90%;
    left: 12%;
}
.modal-body {
    margin-top: 35%;
}
.btn-primary {
    top: 82%;
    right: 12%;
    padding: 12px 14px;
}
.modal-header .close {
    padding: 6px 10px;
    margin: 1.6rem -4.6rem 0rem auto;
}
.close {
    right: 21.6%;
    top: 22.5%;
}
.carousel-control-next, .carousel-control-prev {
    top: -53%;
}
}
@media screen and (max-width:412px){
.gallery-caption p {
    font-size: 17px;
    margin-bottom: 8%;
    margin-left: 30px;
    margin-top: 2%;
}
.gallery-border {
    width: 42%;
    top: 90%;
    left: 12%;
}
.modal-body {
    margin-top: 33%;
}
.btn-primary {
    top: 82%;
    right: 12%;
    padding: 12px 14px;
}
.modal-header .close {
    padding: 6px 10px;
    margin: 1.6rem -4.6rem 0rem auto;
}
.close {
    right: 21.6%;
    top: 23%;
}
.gallery {
    margin-bottom: -5%;
}
.footer {
    margin-top: 5%;
}
}
@media screen and (max-width:393px){
.gallery-caption p {
    font-size: 16px;
    margin-bottom: 8%;
    margin-left: 30px;
    margin-top: 2%;
}
.modal-header .close {
    padding: 0px 5px;
    margin: 0.2rem -4.3rem 0rem auto;
}
}
@media screen and (max-width:384px){
.gallery-caption p {
    font-size: 18px;
    margin-bottom: 8%;
    margin-left: 30px;
    margin-top: 2%;
}
.svg-inline--fa.fa-plus {
    font-size: 20px;
}
.gallery-border {
    width: 47%;
    top: 90%;
    left: 13%;
}
.modal-body {
    margin-top: 33%;
}
.btn-primary {
    top: 82%;
    right: 12%;
    padding: 12px 14px;
}
.modal-header .close {
    padding: 6px 10px;
    margin: 1.6rem -4.6rem 0rem auto;
}
.close {
    right: 23%;
    top: 23%;
    font-size: 20px;
}
.gallery {
    margin-bottom: -5%;
}
.footer {
    margin-top: 5%;
}
}
@media screen and (max-width:375px) and (max-height:812px){
.choose-us-para-topspace {
    padding-top: 18%;
    margin-bottom: 8%;
}
.gallery-caption p {
    font-size: 19px;
    margin-bottom: 8%;
    margin-left: 30px;
    margin-top: 3%;
}
.gallery-border {
    width: 52%;
    top: 90%;
    left: 13%;
}
.modal-body {
    margin-top: 35%;
}
.btn-primary {
    top: 82%;
    right: 12%;
    padding: 12px 14px;
}
.modal-header .close {
    padding: 6px 10px;
    margin: 1.6rem -4.6rem 0rem auto;
}
.close {
    right: 23.6%;
    top: 22.5%;
}
.gallery {
    margin-bottom: 2%;
}
.carousel-item {
    padding-top: 7%;
}
.carousel-control-next, .carousel-control-prev {
    top: -53%;
}
}
@media screen and (max-width:375px) and (max-height:667px){
.choose-us-para-topspace {
    padding-top: 18%;
    margin-bottom: 8%;
}
.gallery-caption p {
    font-size: 19px;
    margin-bottom: 8%;
    margin-left: 30px;
    margin-top: 3%;
}
.gallery-border {
    width: 51%;
    top: 90%;
    left: 13%;
}
.modal-body {
    margin-top: 35%;
}
.btn-primary {
    top: 82%;
    right: 12%;
    padding: 12px 14px;
}
.modal-header .close {
    padding: 6px 10px;
    margin: 1.6rem -4.6rem 0rem auto;
}
.close {
    right: 23.6%;
    top: 22.5%;
}
.gallery {
    margin-bottom: -4%;
}
.carousel-item {
    padding-top: 0%;
}
}
@media screen and (max-width:360px){
.gallery-caption p {
    font-size: 18px;
    margin-bottom: 8%;
    margin-left: 30px;
    margin-top: 3%;
}
.gallery-border {
    width: 51%;
    top: 90%;
    left: 13%;
}
.about-gallery {
    padding-bottom: 0%;
    padding-top: 2%;
}
.btn-primary {
    top: 82%;
    right: 12%;
    padding: 11px 13px;
}
.close {
    right: 25%;
    top: 23%;
}
.svg-inline--fa.fa-plus {
    font-size: 16px;
}
}
@media screen and (max-width:320px){
.gallery-caption p {
    font-size: 16px;
    margin-bottom: 8%;
    margin-left: 23px;
    margin-top: 3%;
}
.btn-primary {
    top: 81%;
    right: 12%;
    padding: 11px 13px;
}
.close {
    right: 28%;
    top: 23%;
}
}