@charset "utf-8";
/* CSS Document */

@media screen and (max-width:414px){
.btn {
    
    font-size: 12px;
}	
}
@media screen and (max-width:360px){
.btn {
    font-size: 11px;
}	
}
@media screen and (max-width:320px){
.btn {
    font-size: 8px;
}		
}